<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-product-heading" jhiTranslate="diInventoryApp.product.home.createOrEditLabel">Create or edit a Product</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diInventoryApp.product.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diInventoryApp.product.shortcut" for="field_shortcut">Shortcut</label>
                    <input type="text" class="form-control" name="shortcut" id="field_shortcut"
                           formControlName="shortcut"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diInventoryApp.product.cgst" for="field_cgst">Cgst</label>
                    <input type="number" class="form-control" name="cgst" id="field_cgst"
                           formControlName="cgst"/>
                    <div *ngIf="editForm.get('cgst').invalid && (editForm.get('cgst').dirty || editForm.get('cgst').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('cgst').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('cgst')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diInventoryApp.product.sgst" for="field_sgst">Sgst</label>
                    <input type="number" class="form-control" name="sgst" id="field_sgst"
                           formControlName="sgst"/>
                    <div *ngIf="editForm.get('sgst').invalid && (editForm.get('sgst').dirty || editForm.get('sgst').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('sgst').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('sgst')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diInventoryApp.product.hsn" for="field_hsn">Hsn</label>
                    <input type="text" class="form-control" name="hsn" id="field_hsn"
                           formControlName="hsn"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diInventoryApp.product.company" for="field_company">Company</label>
                    <select class="form-control" id="field_company" name="company" formControlName="company">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="companyOption.id === editForm.get('company').value?.id ? editForm.get('company').value : companyOption" *ngFor="let companyOption of companies; trackBy: trackCompanyById">{{companyOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="diInventoryApp.product.category" for="field_category">Category</label>
                    <select class="form-control" id="field_category" name="category" formControlName="category">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="categoryOption.id === editForm.get('category').value?.id ? editForm.get('category').value : categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
